@model FinalEntity.VoterId

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";

}

<h2>Details</h2>

<fieldset>
    <legend>VoterId</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfissue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfissue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FathersName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FathersName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MothersName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MothersName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfBirth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfBirth)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PermanentAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PermanentAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PresentAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PresentAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nationality)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nationality)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VotingArea)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VotingArea)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>
</fieldset>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
