@model FinalEntity.Complain

@{
    ViewBag.Title = "ComplainDetails";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<h2>ComplainDetails</h2>

<fieldset>
    <legend>Complain</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ComplainMsg)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ComplainMsg)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Other)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Other)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>
</fieldset>

